@*@model IEnumerable<Domain.Models.Answer>*@
@model PagedList.IPagedList<Domain.Models.Entities.Answer>
@using PagedList.Mvc

@using Domain.Constants;
@using Domain.App_GlobalResources;

@{
    ViewBag.Title = "My Answers";
}

<h2>My Answers</h2>

<hr />

<div class="display-label">
    <h3>
            @Model.Count() @CommonResources.DetailQuestionViewLblAnswers
    </h3>
</div>
<hr />

<table>
    @foreach (var item in Model)
    {
    <tr id="row-@item.Id">
        <td>
            <h4>
                @CommonResources.DetailQuestionViewLblAnswersPosted <span class="label label-warning">@item.CreatedOn</span>  
            </h4>
        </td>
        <td>
            <a href="@Url.Action("Details", "Main", new { id=item.QuestionId })" class="Accept" data-id="@item.QuestionId"><span class="btn btn-default">@CommonResources.lblQuestion</span></a>
        </td>
        <td id="item-status-@item.Id">
            <strong>@CommonResources.DetailQuestionViewLblCurrentStatus</strong> <span class="label label-info">@item.Status.DisplayName</span>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            @Html.Raw(item.Description)
        </td>
    </tr>
    }
</table>
<hr />

@Html.PagedListPager( Model, page => Url.Action("MyAnswers", new { page }) )

