@model Domain.Models.Entities.UserProfile
@using Domain.App_GlobalResources;

@{
    ViewBag.Title = CommonResources.SettingsMyProfileBrowserTitle;
}

<script type="text/javascript">
$(function () {
    $(".pop-top").popover({
        placement : 'top'
    });
    $(".pop-right").popover({
        placement : 'right'
    });
    $(".pop-bottom").popover({
        placement : 'bottom'
    });
    $(".pop-left").popover({
        placement : 'left'
    });
});
</script>

<h2>@CommonResources.SettingsMyProfileTitle</h2>

@using (Html.BeginForm("MyProfile", "Settings"))
{
    @Html.AntiForgeryToken()
   
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Email)

    <hr />    

    <h5>
        <strong>@CommonResources.UserProfileModelUserName</strong>
    </h5>
        @Html.DisplayFor(u => u.UserName)
    <h5>
        <strong>@CommonResources.LblEmailAddress</strong>
    </h5>
        @Html.DisplayFor(u => u.Email)
    <h5>
        <strong>@CommonResources.LblUpdateEmailAddressTo</strong>
    </h5>
    
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group merged">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                @Html.TextBoxFor(u => u.NewEmail, new { @class="form-control", type = "email", placeholder = CommonResources.TxtPlaceHolderRegistrationEmail, autofocus="" })
            </div>
            @*<a href="#" class="pop-right" data-toggle="popover" title="@CommonResources.ViewRegisterPopOverPayPalTitle" data-content="@CommonResources.ViewRegisterPopOverPayPalText">@CommonResources.LblPayPalPayments  </a> 
            @Html.ValidationMessageFor(u => u.NewEmailAddress)*@

            <div class="bs-example tooltip-demo">
                @CommonResources.LblEmailAddress
                <a href="#" data-toggle="tooltip" title="@CommonResources.ViewRegisterPopOverPayPalText">@CommonResources.LblPayPalPayments</a>
                @Html.ValidationMessageFor(u => u.NewEmail)
            </div>
          </div>
        </div>
    <br /> <br />
    <input type="submit" value="@CommonResources.BtnSave" class="btn btn-lg btn-primary" />
}
