<div class="container">
  <div class="row">
    <div class="span12 text-center">
        @Html.ActionLink("All Questions", "AllQuestions", "Main") |
        @Html.ActionLink("My Questions", "MyQuestions", "Main") |
        @Html.ActionLink("My Answers", "MyAnswers", "Main") |
        @Html.ActionLink("By Subject", "BySubject", "Main") |
        @Html.ActionLink("New Question", "Create", "NewQuestion") |
        @Html.ActionLink("Reports", "Index", "Reports") |
        @Html.ActionLink("Settings", "Index", "Settings") |
        @Html.ActionLink("Home", "Index", "Home") 
    </div>
  </div>
</div>


