@model Domain.Models.CreateQuestionViewModel
@using Domain.App_GlobalResources;
@using Domain.Constants;

<script type="text/javascript" src="~/Scripts/Custom/CreateQuestion.js"></script>
<script type="text/javascript">
    $(function () {
        TitleChanges("@CommonResources.GoogleAdHeadlineTempData", "@CommonResources.GoogleAdLine3TempData", "@CommonResources.GoogleTopAd",
                        "@CommonResources.GoogleAdLinkTooltip", "@CommonResources.GoogleAdHeadlinePrefix",
                        "@CommonResources.GoogleAdHeadlineSuffix", "@CommonResources.GoogleAdLine2");

        AmountChanges("@CommonResources.GoogleAdLine3TempData", "@CommonResources.GoogleAdHeadlineTempData", "@CommonResources.GoogleSideAd",
                        "@CommonResources.GoogleAdLinkTooltip", "@CommonResources.GoogleAdHeadlinePrefix", "@CommonResources.GoogleAdHeadlineSuffix",
                        "@CommonResources.GoogleAdLine2", "@CommonResources.GoogleTopAd");

        AddSubject(@Size.GoogleDescrLineMaxCharacters);
        RemoveSubject();
    });
</script>


@{
    ViewBag.Title = CommonResources.CreateQuestionViewBrowswerTitle;
}

<h2>@CommonResources.lblQuestion</h2>

@*@using (Html.BeginForm())*@
@*@using (Html.BeginForm("Create", "NewQuestion", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))*@
@using (Html.BeginForm("Create", "NewQuestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CommaDelimitedSubjects);
    
    @Html.Partial("_TopQuestionFields", Model)
    @Html.Partial("_GoogleAds")
    @Html.Partial("_UploadFiles", Model)    
    @Html.Partial("_BottomQuestionFields", Model)    
}

